p{
  text-align: center;

}

#banner{

}

.principal{
  background: #CCCCCC
}
  h1 {
   text-align: center
}

body {
  background: DeepSkyBlue
}

#misao {
   font-size: 20px
}

em strong {
  color :blue
 }
.itens {
  font-style: italic
}

.benefícios{
  background: #FFFFFF;
}

h2{
  text-align:center;
}
